---
layout: archive
title: ""
permalink: /portfolio/
author_profile: true
---
Music is my jam! Whenever I get a chance, I'm either playing something or singing my heart out. Back in the day, I was the lead vocalist of a metal band called 'Rage' — yeah, we were pretty intense until I moved to the U.S. Now, I'm all about those open mic nights and jamming just for the fun of it. No more professional gigs for me, but you'll catch me belting out tunes at open mics or rocking out in my room for pure enjoyment!

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

